* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 4%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Home Component */

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 2%;
}

.lg-heading {
  font-size: 4rem;
  margin-bottom: 2%;
}

@media screen and (max-width: 750px) {

  .landing-page {
    text-align: center;
  }
}

/* Header Component */

.nav {
  display: flex;
  justify-content: center;
}

.page-links {
  display: flex;
  justify-content: center;
}

.page-links {
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 5px;
}

.page-links > a {
  color: inherit; 
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 10px;
  border-left: 1px solid black;
}

/* removes left border of first child */
.page-links > a:first-child {
  border-left: 0;
}

.page-links > a:hover {
  background-color: rgba(241, 241, 241, 0.849);
  transition: 0.2s ease-in;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* @media screen and (max-width: 840px) {
  
} */