:root {
  font-size: 16px;
  --text-primary: #fff;
  --text-secondary: #eece1a;
  --bg-primary: #2A363B;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --appear-speed: 3s;
  --slide-speed: 1s;
  --border-color: #fff;
  --mar-b-space: 20px; 
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary)
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 4%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#linked-in, #medium-link, #medium-article-link {
  color: rgb(113, 113, 230);
  text-decoration: none;
}

#medium-link {
  margin: 0;
}

/* Home Component */

.icons {
  display: flex;
  /* justify-content: center; */
  /* border: 1px solid var(--border-color); */
  /* border-radius: 10px; */
  justify-content: space-around;
  width: 10rem;
  margin: auto;
  margin-top: 10px;
}

.icons > a {
  padding: 5px;
  text-decoration: none;
  color: inherit;
}

.icons > a:hover{
  transition: var(--transition-speed) ease; 
  transform: scale(1.2)
}

.landing-page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow: hidden;
  text-align: center;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  padding: 5% 4%;
  animation: slideInLeft var(--slide-speed) ease-in;
}

/* .home-icon{
  position: fixed;
  background-color: var(--bg-secondary);
  display: flex;
  border: 2px var(--border-color) solid;
  border-radius: 40px;
  z-index: 99;
}

.home-icon > a{
  color: inherit;
  display: block;
  align-self: center;
  margin-bottom: 15px;
} */

/* .home-icon > a:last-child{
  margin-bottom: 0;
}   */

.home-icon{
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--bg-secondary);
  display: flex;
  border: 2px var(--border-color) solid;
  border-radius: 40px;
  top: 0px;
  /* right: 2rem;  */
  /* flex-direction: column; */
  padding: 10px;
  width: 8rem;
  margin: auto;
}

.home-icon > a{
  color: inherit;
  display: block;
  align-self: center;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}

/* scale size of home-icons */

.home-icon > a:hover{
  transform: scale(1.2)
}

.home-icon > a:last-child{
  margin-right: 0px;
}


.lg-heading {
  font-size: 4rem;
  margin-bottom: 2%;
  color: var(--text-secondary); 
  letter-spacing: 0.1ch;
  animation: name 5s ease infinite, appear var(--appear-speed) ease-in;
}

/* animations */

@keyframes slideInLeft {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* lg-heading text appears after a delay */
@keyframes appear {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

/* lg-heading infinite text color change */
@keyframes name {
  0%, 100% {
    color: var(--text-secondary);
  }
  50% {
    color: orange;
  }
}

.sm-heading {
  text-transform: uppercase;
}

.logo {
  margin-bottom: 3%;
}

/* Header Component */

.nav, .logo, .page-links {
  display: flex;
  justify-content: center;
}

.page-links {
  margin-top: 3%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.page-links > a:hover, .project-buttons > a > button:hover {
  background-color: var(--text-primary);
  color: var(--bg-primary);
  transition: var(--transition-speed) ease-in;
}

.logo > i {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo > i:hover {
  transform: rotate(180deg);
}

/* About Component */

.link-container {
  position: relative;
  background-color: var(--bg-secondary);
  max-width: 40rem;
  min-width: 10rem;
  height: 100%;
  align-self: center;
  padding: 3rem;
  opacity: 0.90;
  overflow-y: scroll;
  animation: load 1s ease-in
}

img.profile {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 50%;
  margin-bottom: var(--mar-b-space);
  animation: appear var(--appear-speed) ease-in;
}

.content-intro {
  letter-spacing: 1.25px;
  animation: slideInLeft var(--slide-speed) ease-in;
}

.dev-icons {
  text-align: center;
  margin-bottom: var(--mar-b-space);
  animation: slideInRight var(--slide-speed) ease-in;
}

/* Project Component */

img.project-image {
  display: block;
  margin: auto;
  width: 90%;
  margin-bottom: 10px;
}

.project-title, .project-description, .project-buttons {
  margin-bottom: var(--mar-b-space);
}

.project-description {
  letter-spacing: 1.25px;
}

.project-buttons {
  display: flex;
  justify-content: center;
}

.project-buttons > a > button {
  background-color: transparent;
  color: var(--text-primary);
  outline: 0;
  border: 2px solid var(--text-primary);
  border-radius: 5px;
  padding: 10px 15px;;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.project-buttons > button:hover {
  background-color: rgb(230, 225, 225);
  transition: 0.3s ease;
}

.project-container, .blog-container {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

/* Blog Component */

.blog-image {
  display: block;
  width: 100%;
}

.blog-handle, .blog-handle div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-handle, .blog-image {
  margin-bottom: 10px;
}

.blog-title, .blog-description {
  margin-bottom: var(--mar-b-space);
}

.blog-container a {
  display: block;
  margin-bottom: var(--mar-b-space);
}

/* Resume Component */

.resume-content-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: var(--text-secondary)
}

.education-container {
  margin-bottom: 20px;
}

.work-card p {
  margin-bottom: 10px;
}

.education-card h2 , .work-card h2 {
  text-transform: uppercase;
}

.education-card, .work-card {
  margin-bottom: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {

  /* .home-icon{
    top: 1.25rem;
    right: 1.2rem;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px;
  }

  .home-icon > a{
    color: inherit;
    display: block;
    align-self: center;
    margin-right: 15px;
  }
  
  .home-icon > a:last-child{
    margin-right: 0;
  } */

  .page-links {
    display: flex;
    flex-direction: column;
  }

  .page-links > a {
    color: inherit; 
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid var(--border-color);
    text-align: center;
  }

  /* removes top border of first child */
  .page-links > a:first-child {
    border-top: 0;
  }

  /* .content-title {
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    margin-left: calc(50% - 80px);
    margin-right: calc(50% - 80px);
    text-align: center;
  } */

  /* .project-content-title {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--mar-b-space);
    margin-left: calc(50% - 65px);
    margin-right: calc(50% - 65px);
    text-align: center;
  } */

  .content-title, .project-content-title, .blog-content-title, .resume-content-title {
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
  }

  .project-title, .project-description, .blog-content-title, .content-title, .project-content-title {
    text-align: center
  }

  /* .blog-content-title {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--mar-b-space);
    margin-left: calc(50% - 45px);
    margin-right: calc(50% - 45px);
    text-align: center;
  } */

  /* .resume-content-title {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--mar-b-space);
    margin-left: calc(50% - 60px);
    margin-right: calc(50% - 60px);
  } */
}

/* Large screens */
@media only screen and (min-width: 601px) {
  
  /* .home-icon{
    top: 2rem;
    right: 2rem;
    flex-direction: column;
    padding: 10px;
  }

  .home-icon > a{
    color: inherit;
    display: block;
    align-self: center;
    margin-bottom: 15px;
  }
  
  .home-icon > a:last-child{
    margin-bottom: 0;
  } */

  .page-links > a {
    color: inherit; 
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 10px;
    border-left: 1px solid var(--border-color);
  }

  /* removes left border of first child */
  .page-links > a:first-child {
    border-left: 0;
  }

  .content-title, .project-content-title, .blog-content-title, .resume-content-title {
    display: inline-block;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
  }

  /* .content-title {
    display: inline-block;
    border-bottom: 1px solid var(--border-color);
    margin: 0 calc(100% - 150px) 20px 0;
  }

  .project-content-title {
    display: inline-block;
    border-bottom: 1px solid var(--border-color);
    margin: 0 calc(100% - 130px) 20px 0;
  }

  .blog-content-title {
    display: inline-block;
    border-bottom: 1px solid var(--border-color);
    margin: 0 calc(100% - 90px) 20px 0;
  }

  .resume-content-title {
    display: inline-block;
    border-bottom: 1px solid var(--border-color);
    margin: 0 calc(100% - 125px) 20px 0;
  } */
}

/* Accounted for HomeIcon component */

/* small screen */
/* home icon will appear in middle */
/* @media only screen and (max-width: 930px) {
  .home-icon{
    top: 1.25rem;
    right: 10rem;
    margin-left: 60%;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
    position: fixed;
  }

  .home-icon > a{
    color: inherit;
    display: block;
    align-self: center;
    margin-bottom: 15px;
  }
  
  .home-icon > a:last-child{
    margin-bottom: 0;
  }
}  */

/* larger screen */
/* Home icon will appear in right side */
/* @media only screen and (min-width: 931px) {
  .home-icon{
    position: fixed;
    background-color: var(--bg-secondary);
    display: flex;
    border: 2px var(--border-color) solid;
    border-radius: 40px;
    top: 2rem;
    right: 2rem;
    flex-direction: column;
    padding: 10px;
  }
  
  .home-icon > a{
    color: inherit;
    display: block;
    align-self: center;
    margin-bottom: 15px;
  }

  .home-icon > a:last-child{
    margin-bottom: 0px;
  }
} */

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}