/* html, body, #root {
  margin: 0;
  padding: 0
}

* {
  box-sizing: border-box;
} */

body, .App {
  height: 100vh;
  width: 100vw;
}

/* Home Component */

.landing-page, .nav {
  padding: 2%;
}

.lg-heading {
  font-size: 6rem;
}

@media screen and (max-width: 750px) {

  .landing-page {
    text-align: center;
  }
}

/* Header Component */

.page-links, .icons {
  display: flex;
  justify-content: space-around;
}

.page-links {
  margin-top: 2%;
}

.page-links > a {
  color: inherit; 
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 3px solid black;
}

.icons {
  margin: 0 35%;
  margin-top: 2.5%
}

.links {
  display: block;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* @media screen and (max-width: 840px) {
  
} */